body {
    font-family: verdana, arial, Serif;
    font-size: 16px;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: blue;
    text-decoration: underline;
}
